<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 懒加载在别名之前 -->
    <!-- <settings>
        <setting name="lazyLoadingEnabled" value="true"/>
    	<setting name="aggressiveLazyLoading" value="true"/>
    </settings> -->
    
    <!-- 别名在环境之前 -->
    <typeAliases>
		<package name="com.ss.mybatis.entity"/>        
    </typeAliases>
    
    
 <environments default="dev">
 <environment id="dev">
 <transactionManager type="JDBC"/>
	 <dataSource type="POOLED">
		 <property name="driver" value="com.mysql.jdbc.Driver"/>
		 <property name="url" value="jdbc:mysql://127.0.0.1:3306/test?useUnicode=true&amp;characterEncoding=utf-8"/>
		 <property name="username" value="root"/>
		 <property name="password" value="111111"/>
	 </dataSource>
 </environment>
 </environments>
 
 <mappers>
 	<mapper resource="com/ss/mybatis/dao/UserDao.xml"/>
 	<mapper resource="com/ss/mybatis/dao/DocDao.xml"/>
 	<mapper class="com.ss.mybatis.dao.UserMapper"/>
 </mappers>
 
</configuration>
